<template>
  <div id="app">
    <div id="nav">
      <h1>A #Tag suggestion?</h1>
      <h4>Give a sentence and see what happens...</h4>
      <input type="text" autofocus placeholder="share with us!" v-model="userText" :maxlength="maxlength"><br>
      <p>{{ hashtags }}#</p>
      <input type="range" id="price-range" name="price-range"  :min="1" :max="10" v-model="hashtags" />
      <div id="the-button" @click="requestApi">
          <div class="flex">
              <a href="#0" class="bttn">COMPOSE</a>
          </div>
      </div>
       <section v-if="errored">
        <p :class="{failuretext: true}">Sorry, something went wrong :(</p>
      </section>
      <section v-else :class="{successtext: true}">
        <p>{{ userPost.post }}</p> 
      </section> 
    </div>
  </div>
</template>
<script>
import axios from "axios" 

export default {
  name: "app",
  data(){
    return {
        maxlength: 255,
        clientId: "2d07f14d3966adb6433c8fcad3ee8c93c45ba3d35cc2",
        hashtags: "2",
        userText: "Is 42 the meaning of life?",
        userPost: [],
        errored: false,
        baseURL: "https://api.ritekit.com", 
        hashesArray: null
    }
  }, 
  methods: {
    requestApi(){
    axios.get(`${this.baseURL}/v1/stats/auto-hashtag?post=${this.userText}&maxHashtags=${this.hashtags}&hashtagPosition=auto&client_id=${this.clientId}`) 
    .then(response => {
        this.userPost = response.data;
         console.log(this.userPost) 
      }) 
      .catch(error => {
         this.errored = true; 
        console.log(error)
      })
    }
  }
}
</script>


<style lang="scss">
@import 'scss/variables.scss';

*{
  padding: 0;
  margin: 0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width: 100vw;
  height: 100vh;
  color: #2c3e50;
  background: linear-gradient(47deg, #25354a, #d1cbcd, #c2456e, #d1cbcd);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
  display: flex;
 
  @-webkit-keyframes AnimationName {
      0%{background-position:99% 0%}
      50%{background-position:2% 100%}
      100%{background-position:99% 0%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:99% 0%}
      50%{background-position:2% 100%}
      100%{background-position:99% 0%}
  }
  @keyframes AnimationName { 
      0%{background-position:99% 0%}
      50%{background-position:2% 100%}
      100%{background-position:99% 0%}
  }
#nav {
  padding: 30px;
  margin: 0 auto;
  h1 {
    margin: 10vh;
    margin-bottom: 1vh;
  }
  h4{
    font-style: italic;
    color: $primary;
  }
  img{
    width: 50px;
    height: 50px;
  }

 /*  change input field */
  input[type=text]{
    width: 40vw;
    line-height: 30px;
    margin: 14vh 0px 2vh 0px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 0px solid $primary;
    line-height: $xl;
    transition:0.5s all ease;
    text-align: center;
    font-size: $xxl;
    color: white !important;
    @include s-lg{
       font-size: $xl;
    }
    @include s-md{
       font-size: $m;
    }
    @include s-sm{
       font-size: $s;
    }
     &:focus {
        transition:0.5s all ease;
        left:0;
        right:0;
        opacity:1;
        color: lightblue !important;
        border-bottom: 3px solid $primary;
    }
  }
  a {
    font-weight: bold;
    color: #2c3e50;
    text-decoration: none;
    &.router-link-exact-active {
      color: red;
    }
  }
}
}

/*  style the button */
.flex {
  display:flex;
  align-items: center;
  justify-content: center;
}

a.bttn {
  color:$primary;
  text-decoration:none;
  -webkit-transition:0.3s all ease;
  transition:0.3s ease all;
  &:hover {
    color:$white;
  }
  &:focus {
    color:$white;
  }
}

.bttn {
  font-size: $m;
  letter-spacing:2px;
  text-transform:uppercase;
  display:inline-block;
  text-align:center;
  width:270px;
  font-weight:bold;
  padding:14px 0px;
  border:3px solid $primary;
  border-radius:2px;
  position:relative;
  transform: scale(1);
  &:hover {
    -webkit-transition:0.5s all ease;
    transition:0.5s all ease;
    left:0;
    right:0;
    opacity:1;
    background: $secondary;
    color: white !important;
    transform: scale(1.04)
  }
  &:focus {
    transition:0.5s all ease;
    left:0;
    right:0;
    opacity:1;
    color: $primary;
  }
}

/* failure text and success text */
.failuretext{
  display: inline-block;
  background: $tomato;
  margin: 30px;
  color: white;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  padding: 0px 55px;
  line-height: 62px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
  100%{
    transform: translate3d(0, 0, 0);
  }
}
.successtext{
  display: inline-block;
  background: $green;
  margin: 30px;
  color: white;
  animation: successanimation ease;
  animation-duration: 30000ms;
  animation-iteration-count: infinite;
  padding: 0px 55px;
  line-height: 62px;
  opacity: 1;
}

 @keyframes successanimation {
  0% {
  background: $green;
  }
  50% {
   background: $gray;
  }
  100% {
    background: $green;
  }
} 

/* price range */

#price-range{
  appearance: none;
  width: 10vw;
  height: 1px;
  background: $white;
  margin: 4vh;
  cursor: pointer;
  &::-webkit-slider-thumb {
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: $primary;
  cursor: pointer;
  transition: background 0.15s ease-in-out;

  &:hover {
  background: $secondary;
   }
  }

  &:active::-webkit-slider-thumb {
     background: $secondary;
  }

  &::-moz-range-thumb {
    width: 17px;
    height: 17px;
    border: 0;
    border-radius: 50%;
    background: $primary;
    cursor: pointer;
    transition: background .15s ease-in-out;

    &:hover {
     background: $secondary;
    }
  }
  &::-ms-fill-lower { 
    background: $secondary;
}
}
</style>
